---

apiVersion: v1
kind: ConfigMap
metadata:
  name: mosquitto-confs
data:
  mosquitto.conf: |
    listener 1883
    allow_anonymous true

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: mosquitto
spec:
  selector:
    matchLabels:
      app: mosquitto
  template:
    metadata:
      labels:
        app: mosquitto
    spec:
      containers:
      - name: mosquitto-container
        image: eclipse-mosquitto:openssl
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "256Mi"
        ports:
        - containerPort: 1883
        volumeMounts:
          - name: mosquitto-configfile
            mountPath: /mosquitto/config/

      volumes:
        - name: mosquitto-configfile
          configMap:
            name: mosquitto-confs

---

apiVersion: v1
kind: Service
metadata:
  name: mosquitto
spec:
  selector:
    app: mosquitto
  ports:
  - port: 1883
    targetPort: 1883

